<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/vite.svg" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KFAdmin</title>
    <script type="module" crossorigin src="./assets/js/index.ee536cbc.js"></script>
    <link rel="modulepreload" crossorigin href="./assets/js/.pnpm.e0cde08c.js">
    <link rel="stylesheet" href="./assets/css/.pnpm.c37a7d79.css">
    <link rel="stylesheet" href="./assets/css/index.cfbb84b3.css">
  </head>
  <body>
    <div id="app"></div>
    <script src="./assets/loading.js"></script>
    
  </body>
</html>
